@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    flex-shrink: 0; /* Header no colapsa */
}

.mainContainer {
    flex-grow: 1; /* Hace que el contenedor ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin: 0; /* Elimina márgenes */
}

.overflow-hidden {
    overflow: hidden;
}

.mainContainer img {
    height: 100%;
    width: auto;
}

.carousel.slide {
    width: 100%;
    height: 100%; /* Asegura que el carrusel ocupe el 100% del contenedor */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center;
}

.carousel-inner {
    width: 100%;
    height: 100%; /* Ocupa toda la altura */
    display: flex;
}

.carousel-item {
    height: 100%; /* Hace que cada slide ocupe el 100% */
}

.carousel-item img {
    width: 100%; /* Asegura que las imágenes ocupen el ancho completo */
    height: 100%; /* Asegura que las imágenes se ajusten a la altura */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.blackBorderInside{
    text-shadow: 1px 1px black;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.nav-icon {
    height: 30px;
    width: auto;
}

.svgCart {
  width: 24px; 
  height: auto;
  cursor: pointer;
}

.svgUser {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.headerNavegation {
    gap: 0px;
}

@media (min-width: 992px) {
    .nav-icon {
        height: 80px;
    }
}

@media (min-width: 1050px) {
    .headerNavegation {
        gap: 1.5rem;
    }
}

.card {
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem; /* Espaciado superior adicional */
  position: relative;
}

.card-header .badge {
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  z-index: 10;
}

.more-selled {
  margin-top: 1.5rem; /* Añade espacio inferior al badge */
  margin-bottom: 0px;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-footer a {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.3rem;
    display: inline-block;
}

.card-footer a:hover {
    color: #fff;
    transform: scale(1.05);
}

.form-control, .form-select {
    border-radius: 0.5rem;
    background: #333;
    color: #fff;
    border: 1px solid #444;
}

.form-control:focus, .form-select:focus {
    border-color: #ffdd57;
    box-shadow: 0 0 5px 2px rgba(255, 221, 87, 0.5);
}

footer {
    flex-shrink: 0; /* Footer no colapsa */
    color: #ccc;
    font-size: 0.9rem;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
}

footer a:hover {
    color: #ffc107;
}

.cardn {
    max-width: 65%; 
    margin: auto; 
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    color: #1c1c1c;
  }

.news{
    text-decoration: underline;
}
/* Estilo para el placeholder */
::placeholder {
    color: white !important;
    opacity: 1; /* Asegura que sea visible */
  }
  
  /* Cuando el campo de entrada está enfocado */
  input:focus::placeholder {
    color: gray !important; /* Cambia al color original o deseado */
  }
  
.max-width-soporte {
    max-width: 1100px;
}

.itemscenter {
    justify-items: center;
}